@font-face {
    font-family: 'SANS';
    src: url('fonts/Comic Sans MS.woff2') format('woff2'),
         url('fonts/Comic Sans MS.woff') format('woff'),
         url('fonts/Comic Sans MS.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('assets/images/LuigiGrid.png');
    background-size: cover; /* This ensures the image covers the entire background */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    background-position: center; /* This centers the background image */
    
    font-family: 'SANS', sans-serif;
    color: white;
    padding: 2%;
}

h1 {
    text-align: center;
}

p {
    left: 50%;
}

.nav {
    text-align: center;
    font-size: 1.25em;
}

.music-controller {
    position: fixed;
    top: 0;
    width: 95%;
    text-align: right;
    z-index: 1000;
}

.music-controller button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.music-controller img {
    width: 50px;
    height: 50px;
}

.content {
    padding-top: 50px; /* Adjust this value to avoid content being hidden behind the fixed header */
}